<h1><%= @department.name %></h1> 
<ul>
  <li>Email: <%= @department.email %></li>
  <li>Phone: <%= @department.number %></li>
</ul>
<button><%= link_to 'Delete Department', @department, method: :delete %></button>
<button><%= link_to 'Edit Department', edit_department_path(@department) %></button>
<button><%= link_to 'Back To Departments', departments_path %></button>
<hr />
<h3>Please look at my items</h3>
<button><%= link_to "See items", department_items_path(@department)%></button>


 